<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @group.name %>
</p>

<p>
  <strong>Debut date:</strong>
  <%= @group.debut_date %>
</p>

<p>
  <strong>Number of members:</strong>
  <%= @group.number_of_members %>
</p>

<p>
  <strong>Type:</strong>
  <%= @group.type_of_band %>
</p>

<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>

<table>
  <h3>Data</h3>
  <tr>
    <td>Concerts this month </td>
    <td><%= group.concerts_this_month %></td>
  </tr>
  <tr>
    <td>The last concert </td>
    <% if @group.the_last_concert != "no debut" %>
      <td><%= @group.the_last_concert.strftime("%Y-%B-%A") %></td>
    <% end %>
  </tr>
  <tr>
    <td>Greater amount of public </td>
    <td><%= group.amount_of_public %></td>
  </tr>
  <tr>
    <td>Longer concert duration </td>
    <td><%= group.concert_duration %></td>
  </tr>
</table>

